# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{css,scss, sass}]
quote_type = single

[*.{ts, tsx, js, jsx}]
quote_type = single
max_line_length = 120
